<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>2tch free</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>fontSize</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>100</integer>
			<key>Key</key>
			<string>threadTitleFontSize</string>
			<key>Title</key>
			<string>threadTitleFontSize</string>
			<key>Titles</key>
			<array>
				<string>Large</string>
				<string>Middle</string>
				<string>Small</string>
				<string>Tiny</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>110</integer>
				<integer>100</integer>
				<integer>90</integer>
				<integer>80</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>100</integer>
			<key>Key</key>
			<string>threadFontSize</string>
			<key>Title</key>
			<string>threadFontSize</string>
			<key>Titles</key>
			<array>
				<string>Large</string>
				<string>Middle</string>
				<string>Small</string>
				<string>Tiny</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>110</integer>
				<integer>100</integer>
				<integer>90</integer>
				<integer>80</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>asciiArt</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>asciiButton</string>
			<key>Title</key>
			<string>asciiButton</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>100</integer>
			<key>Key</key>
			<string>asciiFontSize</string>
			<key>Title</key>
			<string>asciiFontSize</string>
			<key>Titles</key>
			<array>
				<string>Large</string>
				<string>Middle</string>
				<string>Small</string>
				<string>Tiny</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>140</integer>
				<integer>120</integer>
				<integer>100</integer>
				<integer>80</integer>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>WithDoubleTap</string>
			<key>DefaultValue</key>
			<string>CanOpenDoubleTap</string>
			<key>Title</key>
			<string>WithDoubleTap</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>CanOpenDoubleTap</string>
			</array>
			<key>Values</key>
			<array>
				<string>CanOpenDoubleTap</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>bbsTable</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>http://menu.2ch.net/bbstable.html</string>
			<key>Key</key>
			<string>bbsTableURL</string>
			<key>Title</key>
			<string>bbsTableURL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
	</array>
</dict>
</plist>
